# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
.venv/

# VS Code settings (opțional)
.vscode/

# Environment / dotenv files
.env
.env.*

# Mac / Windows / Linux system files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local cache
.cache/

# DeepEval
.deepeval/
# Pytest cache
.cache/
# Coverage reports
.coverage
.coverage.*
# Pytest cache
.pytest_cache/
# Pytest coverage reports   